.center-button {
    display: flex;
    gap: 10px;
    justify-content: center;

    .btn {
        border-radius: 4px;
        font-weight: 700;
    }
}

#protected {
    color: #003E7E;
    text-align: center;
    font-weight: 600;
}

.bottom-tagline {
    margin-top: 20px;
}