<div class="landing">
  <div class="wrapper">
    <div class="heading">
      <div class="navigation">
        <div class="left-nav">
          <mat-icon id="home" aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
          <mat-icon class="more" aria-hidden="false" aria-label="Example home icon" fontIcon="more_vert"></mat-icon>
          <img src="https://d2l.laurentian.ca/d2l/lp/navbars/6605/theme/viewimage/2152752/view?v=20.23.11.20345" />
        </div>

        <div class="right-nav">
          <!-- <img src="../../assets/svg/apps.svg" /> -->
          <img src="../../assets/img/apps-img.png" />
          <mat-icon class="more" aria-hidden="false" aria-label="more icon" fontIcon="more_vert"></mat-icon>
          <img style="width: auto;" src="../../assets/img/mail.png" />
          <img style="width: auto;" src="../../assets/img/chat.png" />
          <img style="width: auto;" src="../../assets/img/notif.png" />
          <mat-icon class="more" aria-hidden="false" aria-label="more icon" fontIcon="more_vert"></mat-icon>
  
          <div class="initial">OT</div>
          <p id="name">Oluwatomisin Taiwo</p>
          <mat-icon class="icon settings" aria-hidden="false" aria-label="more icon" fontIcon="settings"></mat-icon>
        </div>
      </div>
      <hr/>
      <div class="navigation mid-nav">
        <div class="left-nav">
          <p>Are you OK?</p>
          <p>Self Registration</p>
          <p>System Check</p>
          <p>Email</p>
          <p>Locker</p>
        </div>
      </div>
    </div>

    <div class="body">
      <div class="banner">
        <img src="../../assets/img/banner.png" />
      </div>

      <div class="sections">
        <div class="left">
          <h6>My Courses</h6>
          <div class="course-wrapper">
            <div class="course-item">
              <img src="../../assets/img/hci.png" />
  
              <div class="details">
                <h4>Human-Computer Interaction AM</h4>
                <p>CPSC_5926EL_03_2023F <br>Ends January 26, 2024 at 11:59 PM </p>
              </div>
            </div>

            <div class="course-item">
              <img src="../../assets/img/cloud.png" />
  
              <div class="details">
                <h4>Intro to Cloud Technologies</h4>
                <p>CPSC_5207EL_03_2023F <br>Ends January 26, 2024 at 11:59 PM </p>
              </div>
            </div>

            <div class="course-item">
              <img src="../../assets/img/ml.png" />
  
              <div class="details">
                <h4>Machine Learning/Deep Learning</h4>
                <p>CPSC_5616EL_03_2023F <br>Ends January 26, 2024 at 11:59 PM </p>
              </div>
            </div>
          </div>
        </div>
        <div class="right">
          <div class="card-lite">
            <h6>My Upcoming Courses</h6>

            <p>You are currently registered to the following courses on D2L. You will gain access to your course(s) on the first day of the semester.</p>

            <div class="upcoming light">
              <h5>Topics in Computer Science</h5>
              <p>
                <span>
                  <strong>Term: </strong> 2024W
                </span>
              </p>

              <p>
                <span>
                  <strong>Code: </strong> CPSC-5207EL-01
                </span>
              </p>

              <p>
                <span>
                  <strong>Start Date: </strong> 2024-01-08
                </span>
              </p>

            </div>
            <div class="upcoming dark">
              <h5>Project Management</h5>
              <p>
                <span>
                  <strong>Term: </strong> 2024W
                </span>
              </p>

              <p>
                <span>
                  <strong>Code: </strong> OPER-5102EL-01
                </span>
              </p>

              <p>
                <span>
                  <strong>Start Date: </strong> 2024-01-08
                </span>
              </p>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
