.background {
  background-color: #003a74;
  height: 100vh;
  position: relative;
  .center-dialog {
    background-color: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;
    max-width: 650px;
    left: 0;
    right: 0;
    margin: auto;
    height: fit-content;

    p {
      text-align: right;
      font-weight: bold;
      display: block;
      text-decoration: none;
      color: #003e7e;
      margin-right: 10px;
    }

    .logo {
      text-align: center;
      padding-top: 10px;
      img {
        width: 70%;
      }
    }
  }
}
