/* You can add global styles to this file, and also import other style files */

body {
    margin: 0

}
p {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0;
}

// form, input, label, p {
//     color: #003a74 !important;
//   }
